:root {
    --color-white-100: #dfdfdf;
    --color-white-200: #b1b1b1;

    --color-gray-100: #16181c;
    --color-gray-200: #26292f;

    --color-highlight-100: #40A578;
    --color-brand-purple: #BA1DDE;
    --color-brand-green: #36E443;
}